header {
    width: 100%;
    height: 140px;
    background-color: #eeb64d;

}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 32px;
}

a {
    color: #5e5a5a;
    text-decoration: none;

    transition: color 0.3s;

}

a:hover {
    color: #eeeeeea4;
}