main {
    min-height: calc(100vh - 280px);
}

.page-title{
    color: #fff;
    font-size: 36px;

    text-align: center;
    margin-top: 32px;

}
.game{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-title{
font-size: 24px;
color: #fff;
}

.game-description{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
   
    margin-top: 8px;
    margin-bottom: 32px;
    
}

.game-iframe{
width: 100%;
height: 900px;
}
.game-button{
    height: 56px;

    background-color: #ffc019;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    padding: 0 32px;


    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    margin-top: 16px;
    margin-bottom: 96px;
}