*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, button {
    font-family: "inter", sans-serif;
    color: #4e4b4b;
}
body {
    background-color: #cac6c6;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
 
}